@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light.eot');
  src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular.eot');
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff'), url('../fonts/raleway-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextrabold';
  src: url('../fonts/raleway-extrabold.eot');
  src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff'), url('../fonts/raleway-extrabold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium.eot');
  src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium.woff2') format('woff2'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratextralight';
  src: url('../fonts/montserrat-extralight.eot');
  src: url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-extralight.woff2') format('woff2'), url('../fonts/montserrat-extralight.woff') format('woff'), url('../fonts/montserrat-extralight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/Photo.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/Photo.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-logo {
  fill: #ffffff;
  margin: 0 220px 0 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.header-logo-txt {
  font-family: ralewayregular;
  font-size: 34px;
  color: #ffffff;
  letter-spacing: -0.04em;
  padding: 0 0 0 3px;
  margin: 9px auto;
}
.header-logo:hover {
  fill: #C7B299;
}
.header-logo:hover .header-logo-txt {
  color: #C7B299;
}
.header-logo:active {
  fill: #ffffff;
}
.header-logo:active .header-logo-txt {
  color: #ffffff;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 18px 0 0 0;
  margin: 0;
}
.header-menu-item {
  text-decoration: none;
  font-family: montserratlight;
  font-size: 14px;
  color: #ffffff;
  margin: 0px 28px 16px 0;
}
.header-menu-item:hover {
  color: #C7B299;
  cursor: pointer;
}
.header-menu-item:active {
  color: #ffffff;
}
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 28px;
  fill: #ffffff;
  position: relative;
}
.header-search-button {
  width: 0;
  min-height: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 40px;
  left: -100px;
  color: black;
  font-size: 16px;
  font-family: Arial;
  padding: 0;
  margin: 0 3px 0 0;
}
.header-search-button:focus {
  width: 200px;
  min-height: 24px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.header-card {
  margin: 16px 0 0 36px;
  fill: #ffffff;
  border: 0px;
  height: 24px;
  width: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-card:hover,
.header-search:hover {
  cursor: pointer;
  fill: #C7B299;
}
.header-card:active,
.header-search:active {
  cursor: pointer;
  fill: #ffffff;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 277px 0 0 0;
}
.header-content-left,
.header-content-right {
  fill: #ffffff;
  margin: 100px 0 0 0;
}
.header-content-left:hover,
.header-content-right:hover {
  cursor: pointer;
  fill: #C7B299;
}
.header-content-left:active,
.header-content-right:active {
  fill: #ffffff;
}
.header-content-main {
  max-width: 605px;
  margin: 0 0 327px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-content-main-titletop {
  font-family: ralewaymedium;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 4px 0;
}
.header-content-main-titlebold {
  font-family: ralewayextrabold;
  font-size: 52px;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.header-content-main-text {
  font-family: montserratlight;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 48px 0;
}
.header-content-main-button {
  display: block;
  font-family: ralewayextrabold;
  line-height: 23px;
  text-transform: uppercase;
  min-width: 170px;
  background-color: #998675;
  padding: 14px 30px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 auto;
}
.header-content-main-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #998675;
}
.header-content-main-button:active {
  background-color: #998675;
  color: #ffffff;
}
.header-content-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-content-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px 12px 0 0;
}
.header-content-pagination .header-content-pagination-item:nth-child(5) {
  margin: 4px 0 0 0;
}
.header-content-pagination-item:hover {
  cursor: pointer;
  background-color: black;
  -webkit-box-shadow: 0 0 0 2.5px #D3C1AD;
          box-shadow: 0 0 0 2.5px #D3C1AD;
}
.header .nav-input {
  display: none;
}
.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content {
  padding: 0px;
}
.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
}
.content-top-card-icon {
  display: block;
  fill: #555555;
  margin: 0 0 27px 0;
}
.content-top-card-title {
  font-family: ralewaysemibold;
  font-size: 22px;
  width: 100%;
  margin: 0 0 16px 0;
  text-align: center;
  color: #555555;
}
.content-top-card-txt {
  font-family: montserratlight;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #8C8C8C;
  margin: 0;
}
.content-top .content-top-card:nth-child(2) .content-top-card-icon {
  padding: 9px 0 0 3px;
}
.content-top .content-top-card:nth-child(3) .content-top-card-icon {
  padding: 5px 0 0 0;
}
.content-top .content-top-card:nth-child(4) .content-top-card-icon {
  padding: 13px 0 0 10px;
}
.content-top-card:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #F1EEE9;
  margin: 25px 0 0 0;
}
.content-top-card:hover .content-top-card-icon {
  fill: #C7B299;
  cursor: pointer;
}
.content-top-card:hover .content-top-card-title {
  color: #C7B299;
  cursor: pointer;
}
.content-top-card:hover:after {
  background-color: #C7B299;
  cursor: pointer;
}
.content-ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FBFAF8;
}
.content-ideas-title {
  font-family: ralewaysemibold;
  font-size: 30px;
  color: #555555;
  max-width: 500px;
  margin: 0 0 16px 0;
  text-align: center;
}
.content-ideas-txt {
  font-family: montserratlight;
  font-size: 16px;
  line-height: 28px;
  max-width: 770px;
  margin: 0 0 32px 0;
  text-align: center;
}
.content-ideas-img {
  width: 1230px;
  min-height: 482px;
  background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
  background-size: 62.5%, 62.5%, 62.5%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.content-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 375px 44px 375px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.content-ad-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-ad-txt-title {
  font-family: ralewayregular;
  font-size: 28px;
  color: #ffffff;
  margin: 5px 0 0 0;
}
.content-ad-txt-title-word {
  color: #C7B299;
  display: inline;
}
.content-ad-txt-text {
  margin: 6px 0 0 0;
  font-family: montserratlight;
  font-size: 18px;
  color: #615855;
}
.content-ad-button {
  display: block;
  font-family: ralewayextrabold;
  line-height: 23px;
  text-transform: uppercase;
  min-width: 170px;
  background-color: #998675;
  padding: 14px 30px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  color: #ffffff;
  margin: 7px 0;
}
.content-ad-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #998675;
}
.content-ad-button:active {
  background-color: #998675;
  color: #ffffff;
}
.content-project {
  padding: 75px 0 76px 0;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-project-title {
  font-family: ralewaysemibold;
  font-size: 30px;
  margin: 0 0 20px 0;
  color: #555555;
  text-align: center;
}
.content-project-txt {
  font-family: montserratlight;
  font-size: 16px;
  margin: 0 auto 34px auto;
  color: #8C8C8C;
  max-width: 770px;
  text-align: center;
  line-height: 26px;
}
.content-project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 605px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 40px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-project-buttons-item {
  font-family: montserratlight;
  font-size: 14px;
  padding: 7px 18px;
  background-color: transparent;
  border: 1px solid #EBEBEB;
  border-radius: 1px;
  color: #8C8C8C;
}
.content-project-buttons-item:hover {
  background-color: #998675;
  cursor: pointer;
  color: #FFFFFF;
}
.content-project-buttons-item:active {
  background-color: transparent;
  cursor: pointer;
  color: #8C8C8C;
}
.content-project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px 0;
}
.content-project-cards-card {
  width: 370px;
  margin: 0 0 30px 0;
  text-decoration: none;
  position: relative;
}
.content-project-cards-card-img {
  display: block;
}
.content-project-cards-card-text {
  padding: 25px 28px 8px 28px;
  background-color: #FBFAF8;
}
.content-project-cards-card-text-title {
  font-family: ralewaymedium;
  font-size: 20px;
  color: #C7B299;
  margin: 0 0 10px 0;
}
.content-project-cards-card-text-p {
  font-family: montserratlight;
  font-size: 14px;
  color: #D1D1D1;
}
.content-project-cards-card-text:before {
  content: "";
  display: block;
  position: absolute;
  top: 208px;
  left: 20px;
  border: 20px solid transparent;
  border-bottom: 10px solid #FBFAF8;
}
.content-project-cards-card-svg {
  position: absolute;
  fill: #ffffff;
  display: none;
  top: 107px;
  left: 145px;
}
.content-project-cards-card-svgsearch {
  position: absolute;
  fill: #ffffff;
  display: none;
  top: 107px;
  left: 199px;
}
.content-project-cards-card:hover .content-project-cards-card-img {
  -webkit-filter: brightness(33%);
          filter: brightness(33%);
}
.content-project-cards-card:hover .content-project-cards-card-text {
  background-color: #362F2D;
}
.content-project-cards-card:hover .content-project-cards-card-text-title {
  color: #FFFFFF;
}
.content-project-cards-card:hover .content-project-cards-card-text-p {
  color: #C7B299;
}
.content-project-cards-card:hover .content-project-cards-card-text:before {
  border-bottom: 10px solid #362F2D;
}
.content-project-cards-card:hover .content-project-cards-card-svg {
  display: block;
}
.content-project-cards-card:hover .content-project-cards-card-svgsearch {
  display: block;
}
.content-project-cards-card:hover .content-project-cards-card-svg:hover {
  fill: #C7B299;
}
.content-project-cards-card:hover .content-project-cards-card-svgsearch:hover {
  fill: #C7B299;
}
.content-project-cards-card:active .content-project-cards-card-text {
  background-color: #FBFAF8;
}
.content-project-cards-card:active .content-project-cards-card-text-title {
  color: #C7B299;
}
.content-project-cards-card:active .content-project-cards-card-text-p {
  color: #D1D1D1;
}
.content-project-cards-card:active .content-project-cards-card-text:before {
  border-bottom: 10px solid #FBFAF8;
}
.content-project-cards-card:active .content-project-cards-card-svg:hover {
  fill: #ffffff;
}
.content-project-cards-card:active .content-project-cards-card-svgsearch:hover {
  fill: #ffffff;
}
.content-project-button {
  display: block;
  font-family: ralewayextrabold;
  line-height: 23px;
  text-transform: uppercase;
  min-width: 170px;
  background-color: #998675;
  padding: 14px 30px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  color: #ffffff;
  width: 170px;
  margin: 0 auto;
}
.content-project-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #998675;
}
.content-project-button:active {
  background-color: #998675;
  color: #ffffff;
}
.content-video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-video-file {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.content-video-text {
  position: absolute;
  top: 210px;
  left: 35.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
}
.content-video-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 50%;
  margin: 0 0 38px 0;
}
.content-video-text-button:hover {
  fill: #C7B299;
  cursor: pointer;
}
.content-video-text-button:active {
  fill: #ffffff;
}
.content-video-text-title {
  font-family: ralewaymedium;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 20px 0;
}
.content-video-text-txt {
  font-family: montserratlight;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 36px 0;
  line-height: 24px;
}
.content-video-text-time {
  font-family: montserratregular;
  font-size: 14px;
  color: #C7B299;
}
.content-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 695px;
  background: url('../img/hand.png') 28.2% bottom no-repeat;
  background-color: #FBFAF8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 189px 0 0 45.6%;
}
.content-mobile-text {
  width: 672px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-mobile-text-title {
  font-family: ralewaysemibold;
  font-size: 30px;
  color: #555555;
  margin: 0 0 30px 0;
}
.content-mobile-text-txt {
  font-family: montserratlight;
  font-size: 16px;
  color: #8C8C8C;
  margin: 0 0 32px 0;
  line-height: 27px;
}
.content-mobile-text-list {
  padding: 0 0 0 100px;
  margin: 0;
}
.content-mobile-text-list-item {
  font-family: montserratlight;
  font-size: 16px;
  list-style: none;
  line-height: 32px;
  color: #8C8C8C;
  position: relative;
}
.content-mobile-text-list-item:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url('../img/marker.png');
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -50px;
}
.content-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 25% 60px 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-numbers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: #C7B299;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
}
.content-numbers-item-title {
  font-family: montserratextralight;
  font-size: 48px;
  color: #FFFFFF;
  margin: 20px 0 5px 0;
}
.content-numbers-item-text {
  font-family: montserratlight;
  font-size: 14px;
  color: #C7B299;
  text-transform: uppercase;
  margin: 0;
}
.content-numbers-item:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 28px 0 0 0;
}
.content-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 375px 79px 375px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-posts-title {
  font-family: ralewaysemibold;
  font-size: 30px;
  color: #555555;
  text-align: center;
}
.content-posts-txt {
  font-family: montserratlight;
  font-size: 16px;
  color: #8C8C8C;
  text-align: center;
  margin: 20px 0 36px 0;
  width: 770px;
  line-height: 26px;
}
.content-posts-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.content-posts-cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-posts-cards-item-date {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}
.content-posts-cards-item-date-top {
  font-family: montserratlight;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #363636;
  display: block;
  line-height: 30px;
  text-align: center;
  line-height: 35px;
}
.content-posts-cards-item-date-bottom {
  font-family: roboto;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #252525;
  display: block;
  line-height: 25px;
  text-align: center;
}
.content-posts-cards-item-title {
  font-family: ralewaymedium;
  font-size: 20px;
  color: #555555;
  margin: 25px 28px 16px 28px;
}
.content-posts-cards-item-text {
  font-family: montserratlight;
  font-size: 14px;
  color: #8C8C8C;
  margin: 0 28px 22px 28px;
  line-height: 22px;
}
.content-posts-cards-item-link {
  font-family: montserratlight;
  font-size: 14px;
  color: #C7B299;
  text-decoration: none;
  margin: 0 28px 28px 28px;
}
.content-posts-cards-item-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 353px;
  left: 113px;
  border: 5px solid transparent;
  border-left: 5px solid #C7B299;
}
.content-posts-cards-item:hover {
  background-color: #362F2D;
}
.content-posts-cards-item:hover .content-posts-cards-item-date-top {
  background-color: #C7B299;
  color: #FFFFFF;
}
.content-posts-cards-item:hover .content-posts-cards-item-date-bottom {
  background-color: #A48D72;
  color: #FFFFFF;
}
.content-posts-cards-item:hover .content-posts-cards-item-title {
  color: #C7B299;
}
.content-posts-cards-item:hover .content-posts-cards-item-text {
  color: #FFFFFF;
}
.content-posts-cards-item:hover .content-posts-cards-item-link {
  color: #FFFFFF;
}
.content-posts-cards-item:active .content-posts-cards-item-link {
  color: #C7B299;
}
.content-posts-cards-item:hover .content-posts-cards-item-link::after {
  border-left: 5px solid #FFFFFF;
}
.content-posts-cards-item:active .content-posts-cards-item-link::after {
  border-left: 5px solid #C7B299;
}
.content-posts-buttons {
  margin: 40px 0 0 0;
}
.content-posts-buttons-left,
.content-posts-buttons-right {
  fill: #D1D1D1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.content-posts-buttons-left {
  margin: 0 8px 0 0;
}
.content-posts-buttons-left:hover,
.content-posts-buttons-right:hover {
  fill: #C7B299;
}
.content-posts-buttons-left:active,
.content-posts-buttons-right:active {
  fill: #D1D1D1;
}
.content-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 140px 0 135px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../img/bg-partners.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/bg-partners.png');
}
.content-partners-item {
  margin: auto 90px auto 0;
}
.content-partners-item:last-child {
  margin: auto 0;
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #191919;
  padding: 80px 0 68px 0;
}
.footer-top-article {
  max-width: 270px;
  position: relative;
  margin: 0 29px 0 0;
}
.footer-top-article-title {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.footer-top-article-title-text {
  font-family: ralewayregular;
  font-size: 34px;
  color: #ffffff;
  letter-spacing: -0.04em;
  margin: auto 0;
}
.footer-top-article .footer-top-article-title:hover {
  fill: #C7B299;
}
.footer-top-article .footer-top-article-title:hover .footer-top-article-title-text {
  color: #C7B299;
}
.footer-top-article .footer-top-article-title:active {
  fill: #ffffff;
}
.footer-top-article .footer-top-article-title:active .footer-top-article-title-text {
  color: #ffffff;
}
.footer-top-article-text {
  font-family: montserratlight;
  font-size: 14px;
  color: #555555;
  line-height: 24px;
  margin: 23px 0 21px 0;
}
.footer-top-article-link {
  font-family: montserratlight;
  font-size: 14px;
  color: #D1D1D1;
  text-decoration: none;
}
.footer-top-article-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 273px;
  left: 83px;
  border: 5px solid transparent;
  border-left: 5px solid #D1D1D1;
}
.footer-top-article .footer-top-article-link:hover {
  color: #C7B299;
}
.footer-top-article .footer-top-article-link:hover:after {
  border-left: 5px solid #C7B299;
}
.footer-top-article .footer-top-article-link:active {
  color: #D1D1D1;
}
.footer-top-article .footer-top-article-link:active:after {
  border-left: 5px solid #D1D1D1;
}
.footer-top-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  margin: 0 29px 0 0;
}
.footer-top-posts-title {
  padding: 20px 0 0 0;
  font-family: ralewaybold;
  font-size: 24px;
  color: #FFFFFF;
}
.footer-top-posts-link {
  text-decoration: none;
  font-family: montserratlight;
  color: #555555;
  font-size: 14px;
  margin: 23px 0 7px 0;
  line-height: 22px;
}
.footer-top-posts-link-time {
  font-size: 12px;
  color: #363636;
  display: block;
}
.footer-top-posts-link:hover {
  color: #C7B299;
}
.footer-top-posts-link:hover .footer-top-posts-link-time {
  color: #FFFFFF;
}
.footer-top-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  margin: 0 29px 0 0;
}
.footer-top-twitter-title {
  font-family: ralewaybold;
  font-size: 24px;
  color: #FFFFFF;
  padding: 20px 0 0 0;
}
.footer-top-twitter-text {
  margin: 22px 0 16px 0;
  font-family: montserratlight;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
}
.footer-top-twitter-text-color {
  color: #00BFF3;
  cursor: pointer;
}
.footer-top-twitter-text-color:hover {
  color: #FFFFFF;
}
.footer-top-twitter-text-color:active {
  color: #00BFF3;
}
.footer-top-twitter-text-time {
  font-size: 12px;
  color: #363636;
}
.footer-top-widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 270px;
  max-height: 260px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 0 0 0;
}
.footer-top-widgets-title {
  font-family: ralewaybold;
  font-size: 24px;
  color: #FFFFFF;
  width: 100%;
  margin: 0 0 18px 0;
}
.footer-top-widgets-img {
  margin: 10px 0 0 0;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.footer-top-widgets-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.footer-bottom {
  padding: 45px 375px 49px 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #111111;
}
.footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-bottom-left-text {
  font-family: montserratlight;
  font-size: 13px;
  color: #555555;
  text-decoration: none;
  margin: 0;
}
.footer-bottom-left-mark {
  font-family: montserratlight;
  font-size: 13px;
  color: #959595;
  text-decoration: none;
  margin: 0 24px 0 0;
}
.footer-bottom-left-link {
  font-family: montserratlight;
  font-size: 13px;
  color: #555555;
  text-decoration: none;
  margin: 0 24px 0 0;
}
.footer-bottom-left-link:hover,
.footer-bottom-left-mark:hover {
  color: #C7B299;
}
.footer-bottom-left-link:active,
.footer-bottom-left-mark:active {
  color: #555555;
}
.footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-bottom-right-text {
  font-family: montserratlight;
  font-size: 13px;
  color: #555555;
  text-decoration: none;
  margin: 0;
}
.footer-bottom-right-link {
  font-family: montserratlight;
  font-size: 13px;
  color: #959595;
  text-decoration: none;
  margin: 0 20px 0 0;
}
.footer-bottom-right-link:last-child {
  margin: 0;
}
.footer-bottom-right-link:hover {
  color: #C7B299;
}
.footer-bottom-right-link:hover .footer-bottom-right-link-mark {
  color: #C7B299;
}
.footer-bottom-right-link:active {
  color: #959595;
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-logo {
    -ms-flex-item-align: start;
        align-self: start;
    margin: 0px;
  }
  .header-menu {
    margin: 0 auto;
    visibility: hidden;
    width: 100%;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #333;
    -webkit-box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding-top: 100px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .header-menu-item {
    margin: 0;
    width: 100%;
    font-size: 20px;
  }
  .header-card {
    margin: 0 auto;
    display: block;
  }
  .header-search {
    margin: 0;
    display: block;
  }
  .header-search-button {
    left: 10%;
    height: 40px;
  }
  .header-search-button:focus {
    width: 80%;
  }
  .header-content {
    display: none;
  }
  .header .nav-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .header .nav-label-span,
  .header .nav-label-span::before,
  .header .nav-label-span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header .nav-label-span::before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .header .nav-label-span::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .header .header-menu li {
    text-align: center;
    height: 8vh;
  }
  .header .nav-input:checked ~ .nav-label .nav-label-span {
    background-color: transparent;
  }
  .header .nav-input:checked ~ .nav-label .nav-label-span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .nav-input:checked ~ .nav-label .nav-label-span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .nav-input:checked ~ .header-menu {
    visibility: visible;
    height: 100vh;
    position: fixed;
  }
  .header .nav-input:checked ~ .nav-label {
    z-index: 3;
    position: fixed;
    right: 20px;
  }
  .header .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-ideas {
    padding: 20px 20px 0 20px;
  }
  .content-ideas-img {
    min-height: 215px;
    width: 100%;
    background-size: 60%, 60%, 60%;
  }
  .content-ad {
    padding: 20px;
  }
  .content-ad-button {
    padding: 20px 7px;
    margin: auto 0;
  }
  .content-project {
    padding: 20px;
  }
  .content-project-txt {
    margin: 0 auto 20px auto;
  }
  .content-project-buttons {
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-project-buttons-item {
    padding: 7px;
  }
  .content-project-cards {
    margin: 0;
  }
  .content-project-cards-card {
    margin: 0 auto 20px auto;
  }
  .content-video-text {
    padding: 20px;
    top: 200px;
    left: 0px;
  }
  .content-mobile {
    padding: 20px;
    min-height: 1080px;
  }
  .content-numbers {
    display: none;
  }
  .content-posts {
    padding: 20px;
  }
  .content-posts-txt {
    width: 100%;
  }
  .content-posts-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-posts-cards-item {
    margin: 20px auto;
  }
  .content-posts-buttons {
    margin: 20px 0 0 0;
  }
  .content-partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
    background-size: cover;
  }
  .content-partners-item {
    margin: 20px;
  }
  .footer-top {
    display: none;
  }
  .footer-bottom {
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom-left {
    margin: 0 0 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 550px) {
  .content-project {
    padding: 20px 0px;
  }
  .content-mobile {
    padding: 5px;
    min-height: 1220px;
  }
  .content-posts {
    padding: 20px 0 20px 0;
  }
}
