@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light.eot');
  src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular.eot');
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff'), url('../fonts/raleway-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextrabold';
  src: url('../fonts/raleway-extrabold.eot');
  src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff'), url('../fonts/raleway-extrabold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium.eot');
  src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium.woff2') format('woff2'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/Photo.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/Photo.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-logo {
  fill: white;
  margin: 0 217px 0 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.header-logo-txt {
  font-family: ralewayregular;
  font-size: 34px;
  color: #ffffff;
  letter-spacing: -0.04em;
  padding: 0 0 0 3px;
  margin: auto;
}
.header-logo:hover {
  fill: #C7B299;
}
.header-logo:hover .header-logo-txt {
  color: #C7B299;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 0 0;
}
.header-menu-item {
  text-decoration: none;
  font-family: montserratlight;
  font-size: 14px;
  color: #ffffff;
  margin: 16px 30px 16px 0;
}
.header-menu-item:hover {
  color: #C7B299;
  cursor: pointer;
}
.header-menu-item:active {
  color: #ffffff;
}
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 0 25px;
  fill: #ffffff;
}
.header-search-button {
  width: 0px;
  height: 24px;
  padding: 0;
  border: 0px;
  margin: 0 3px 0 0;
}
.header-search:hover .header-search-button {
  width: 200px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
}
.header-search-button:focus {
  width: 200px;
}
.header-card {
  margin: 16px 0 0 23px;
  fill: #ffffff;
  border: 0px;
  height: 24px;
  width: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-card:hover,
.header-search:hover {
  cursor: pointer;
  fill: #C7B299;
}
.header-card:active,
.header-search:active {
  cursor: pointer;
  fill: #ffffff;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 280px 0 0 0;
}
.header-content-left,
.header-content-right {
  fill: #ffffff;
  margin: 100px 0 0 0;
}
.header-content-left:hover,
.header-content-right:hover {
  cursor: pointer;
  fill: #C7B299;
}
.header-content-left:active,
.header-content-right:active {
  fill: #ffffff;
}
.header-content-main {
  max-width: 605px;
  margin: 0 0 325px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-content-main-titletop {
  font-family: ralewaymedium;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 4px 0;
}
.header-content-main-titlebold {
  font-family: ralewayextrabold;
  font-size: 52px;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.header-content-main-text {
  font-family: montserratlight;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 48px 0;
}
.header-content-main-button {
  display: block;
  font-family: ralewayextrabold;
  line-height: 23px;
  text-transform: uppercase;
  min-width: 170px;
  background-color: #998675;
  padding: 14px 30px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 auto;
}
.header-content-main-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #998675;
}
.header-content-main-button:active {
  background-color: #998675;
  color: #ffffff;
}
.header-content-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-content-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px 12px 0 0;
}
.header-content-pagination .header-content-pagination-item:nth-child(5) {
  margin: 4px 0 0 0;
}
.header-content-pagination-item:hover {
  cursor: pointer;
  background-color: black;
  -webkit-box-shadow: 0 0 0 2.5px #D3C1AD;
          box-shadow: 0 0 0 2.5px #D3C1AD;
}
.content {
  padding: 0px;
}
.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
}
.content-top-card-icon {
  display: block;
  fill: #555555;
  margin: 0 0 27px 0;
}
.content-top-card-title {
  font-family: ralewaysemibold;
  font-size: 22px;
  width: 100%;
  margin: 0 0 16px 0;
  text-align: center;
  color: #555555;
}
.content-top-card-txt {
  font-family: montserratlight;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #8C8C8C;
  margin: 0;
}
.content-top .content-top-card:nth-child(2) .content-top-card-icon {
  padding: 9px 0 0 3px;
}
.content-top .content-top-card:nth-child(3) .content-top-card-icon {
  padding: 5px 0 0 0;
}
.content-top .content-top-card:nth-child(4) .content-top-card-icon {
  padding: 13px 0 0 10px;
}
.content-top-card:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #F1EEE9;
  margin: 25px 0 0 0;
}
.content-top-card:hover .content-top-card-icon {
  fill: #C7B299;
  cursor: pointer;
}
.content-top-card:hover .content-top-card-title {
  color: #C7B299;
  cursor: pointer;
}
.content-top-card:hover:after {
  background-color: #C7B299;
  cursor: pointer;
}
.content-ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FBFAF8;
}
.content-ideas-title {
  font-family: ralewaysemibold;
  font-size: 30px;
  color: #555555;
  max-width: 500px;
  margin: 0 0 16px 0;
  text-align: center;
}
.content-ideas-txt {
  font-family: montserratlight;
  font-size: 16px;
  line-height: 28px;
  max-width: 770px;
  margin: 0 0 32px 0;
  text-align: center;
}
.content-ideas-img {
  width: 1230px;
  min-height: 482px;
  background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
  background-size: 62.5%, 62.5%, 62.5%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.content-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 375px 44px 375px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.content-ad-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-ad-txt-title {
  font-family: ralewayregular;
  font-size: 28px;
  color: #ffffff;
  margin: 5px 0 0 0;
}
.content-ad-txt-title-word {
  color: #C7B299;
  display: inline;
}
.content-ad-txt-text {
  margin: 6px 0 0 0;
  font-family: montserratlight;
  font-size: 18px;
  color: #615855;
}
.content-ad-button {
  display: block;
  font-family: ralewayextrabold;
  line-height: 23px;
  text-transform: uppercase;
  min-width: 170px;
  background-color: #998675;
  padding: 14px 30px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  color: #ffffff;
  margin: 7px 0;
}
.content-ad-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #998675;
}
.content-ad-button:active {
  background-color: #998675;
  color: #ffffff;
}
