@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.eot');
    src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff'),
         url('../fonts/raleway-extrabold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('../fonts/montserrat-extralight.eot');
    src: url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight.woff2') format('woff2'),
         url('../fonts/montserrat-extralight.woff') format('woff'),
         url('../fonts/montserrat-extralight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

.button() {
    display: block;
    font-family: ralewayextrabold;
    line-height: 23px;
    text-transform: uppercase;
    min-width: 170px;
    background-color: #998675;
    padding: 14px 30px;
    border: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 3px solid #998675;
    border-radius: 3px;
    color: #ffffff;
}

.buttonhover() {
    cursor: pointer;
    background-color: #fff;
    color: #998675;
}
.buttonactive() {
    background-color: #998675;
    color: #ffffff;
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/Photo.png);
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    box-sizing: border-box;
    &-logo {
        fill: #ffffff;
        margin: 0 217px 0 375px;
        display: flex;
        text-decoration: none;
        &-txt {
            font-family: ralewayregular;
            font-size: 34px;
            color: #ffffff;
            letter-spacing: -0.04em;
            padding: 0 0 0 3px;
            margin: auto;
            }
        }
    &-logo:hover {
        fill:#C7B299;
        .header-logo-txt {
            color:#C7B299;
        }
    }
    &-logo:active {
        fill:#ffffff;
        .header-logo-txt {
            color:#ffffff;
        }
    }    
    &-menu {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0 0 0 0;
        &-item {
            text-decoration: none;
            font-family: montserratlight;
            font-size: 14px;
            color: #ffffff;
            margin: 16px 30px 16px 0;
            }
        &-item:hover {
            color: #C7B299;
            cursor: pointer;
            }
        &-item:active {
            color: #ffffff;
            }
    }
    &-search  {
        display: flex;
        margin: 16px 0 0 25px;
        fill: #ffffff;
        position: relative;
        &-button {
            width: 0;
            min-height: 0;
            outline: none;
            box-sizing: border-box;
            background-color: #ffffff;
            border: none;
            position: absolute;
            top: 40px;
            left: -100px;
            color: black;
            font-size: 16px;
            font-family: Arial;
            text-transform: capitalize;
            padding: 0;
            margin: 0 3px 0 0;
        }
        &-button:focus {
            width: 200px;
            min-height: 24px;
            transition: width 1s ease;
            border: 2px solid #fff;
        }
    }
    &-card {
        margin: 16px 0 0 23px;
        fill: #ffffff;
        border: 0px;
        height: 24px;
        width: 18px;
        box-sizing: border-box;
    }
    &-card:hover,
    &-search:hover {
        cursor: pointer;
        fill: #C7B299;
    }
    &-card:active,
    &-search:active {
        cursor: pointer;
        fill: #ffffff;
    }
    
    &-content {
        display: flex;
        width: 100%;
        padding: 0 150px;
        justify-content: space-between;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin: 280px 0 0 0;
        &-left,
        &-right {
           fill: #ffffff;
           margin: 100px 0 0 0;
        }
        &-left:hover,
        &-right:hover {
            cursor: pointer;
            fill: #C7B299;
        }
        &-left:active,
        &-right:active {
           fill: #ffffff;
        }
        &-main {
            max-width: 605px;
            margin: 0 0 325px 0;
            display: flex;
            flex-direction: column;
            &-titletop {
                font-family: ralewaymedium;
                font-size: 36px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 4px 0;
            }
            &-titlebold {
                font-family: ralewayextrabold;
                font-size: 52px;
                color: #ffffff;
                margin: 0 0 14px 0;
            }
            &-text {
                font-family: montserratlight;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 48px 0;
            }
            &-button {
                .button();
                margin: 0 auto;
            }
            &-button:hover {
                .buttonhover();
            }
            &-button:active {
                .buttonactive();
            }
        }
        &-pagination {
            width: 100%;
            display: flex;
            justify-content: center;
            &-item {
                display: block;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                margin: 4px 12px 0 0;
            }
            .header-content-pagination-item:nth-child(5) {
                margin: 4px 0 0 0;
            }
            &-item:hover {
                cursor: pointer;
                background-color:  black;
                box-shadow: 0 0 0 2.5px #D3C1AD;
            }
        }
    }
}

.content {
    padding: 0px;
    &-top {
        display: flex;
        justify-content: center;
        padding: 80px 0;
        flex-wrap: wrap;
        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 270px;
            padding: 0;
            box-sizing: border-box;
            margin: 0 15px;
            &-icon {
                display: block;
                fill: #555555;
                margin: 0 0 27px 0;
            }
            &-title {
                font-family: ralewaysemibold;
                font-size: 22px;
                width: 100%;
                margin: 0 0 16px 0;
                text-align: center;
                color:#555555;
            }
            &-txt {
                font-family: montserratlight;
                line-height: 24px;
                font-size: 14px;
                text-align: center;
                color: #8C8C8C;
                margin: 0;
            }
        }
        .content-top-card:nth-child(2) {
            .content-top-card-icon {
                padding: 9px 0 0 3px;
            }
        }
        .content-top-card:nth-child(3) {
            .content-top-card-icon {
                padding: 5px 0 0 0;
            }
        }
        .content-top-card:nth-child(4) {
            .content-top-card-icon {
                padding: 13px 0 0 10px;
            }
        }
        &-card:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #F1EEE9;
            margin: 25px 0 0 0;
        }
        &-card:hover .content-top-card-icon {
            fill:#C7B299;
            cursor: pointer;
        }
        &-card:hover .content-top-card-title {
            color:#C7B299;
            cursor: pointer;
        }
        &-card:hover:after {
            background-color:#C7B299;
            cursor: pointer;
        }
    }
    &-ideas {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 75px 0 0 0;
        flex-wrap: wrap;
        background-color: #FBFAF8;
        &-title {
            font-family: ralewaysemibold;
            font-size: 30px;
            color: #555555;
            max-width: 500px;
            margin: 0 0 16px 0;
            text-align: center;
        }
        &-txt {
            font-family: montserratlight;
            font-size: 16px;
            line-height: 28px;
            max-width: 770px;
            margin: 0 0 32px 0;
            text-align: center;
        }
        &-img {
            width: 1230px;
            min-height: 482px;
            background-image: url(../img/browser-center.png),
            url(../img/browser-left.png),
            url(../img/browser-right.png);
            background-size: 62.5%, 62.5%, 62.5%;
            background-repeat: no-repeat;
            background-position: bottom center, bottom left, bottom right;
        }
    }
    &-ad {
        display: flex;
        justify-content: space-between;
        padding: 40px 375px 44px 375px;
        background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
        &-txt {
            display: flex;
            flex-direction: column;
            &-title {
                font-family: ralewayregular;
                font-size: 28px;
                color: #ffffff;
                margin: 5px 0 0 0;
                &-word {
                    color: #C7B299;
                    display: inline;
                }
            }
            &-text {
                margin: 6px 0 0 0;
                font-family: montserratlight;
                font-size: 18px;
                color: #615855;
            }
        }
        &-button {
            .button();
            margin: 7px 0;
        }
        &-button:hover {
            .buttonhover();
        }
        &-button:active {
            .buttonactive();
        }
    }
    &-project {
        padding: 75px 0 76px 0;
        max-width: 1170px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        box-sizing: border-box;
        &-title {
            font-family: ralewaysemibold;
            font-size: 30px;
            margin: 0 0 20px 0;
            color: #555555;
            text-align: center;
        }
        &-txt {
            font-family: montserratlight;
            font-size: 16px;
            margin: 0 auto 34px auto;;
            color: #8C8C8C;
            max-width: 770px;
            text-align: center;
            line-height: 26px;
        }
        &-buttons {
            display: flex;
            width: 605px;
            flex-wrap: wrap;
            margin: 0 auto 40px auto;
            justify-content: space-between;
            &-item {
                font-family: montserratlight;
                font-size: 14px;
                padding: 7px 18px;
                background-color: transparent;
                border: 1px solid #EBEBEB;
                border-radius: 1px;
                color: #8C8C8C;
            }
            &-item:hover {
                background-color: #998675;
                cursor: pointer;
                color: #FFFFFF;
            }
            &-item:active {
                background-color:transparent;
                cursor: pointer;
                color: #8C8C8C;
            }
        }
        &-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            margin: 0 0 10px 0;
            &-card {
                width: 370px;
                margin: 0 0 30px 0;
                text-decoration: none;
                position: relative;
                &-img {
                    display: block;
                }
                &-text {
                    padding: 25px 28px 8px 28px;;
                    background-color: #FBFAF8;
                    &-title {
                        font-family: ralewaymedium;
                        font-size: 20px;
                        color: #C7B299;
                        margin: 0 0 10px 0;
                    }
                    &-p {
                        font-family: montserratlight;
                        font-size: 14px;
                        color: #D1D1D1;
                    }
                }
                &-text:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 208px;
                    left: 20px;
                    border: 20px solid transparent;
                    border-bottom: 10px solid #FBFAF8;
                }
                &-svg {
                    position: absolute;
                    fill: #ffffff;
                    display:none;
                    top: 107px;
                    left: 145px;
                }
                &-svgsearch {
                    position: absolute;
                    fill: #ffffff;
                    display:none;
                    top: 107px;
                    left: 199px;
                }
            }
            &-card:hover .content-project-cards-card-img {
                filter: brightness(33%);
            }
            &-card:hover .content-project-cards-card-text {
                background-color: #362F2D;
            }
            &-card:hover .content-project-cards-card-text-title {
                color:#FFFFFF;
            }
            &-card:hover .content-project-cards-card-text-p {
                color: #C7B299;
            }
            &-card:hover .content-project-cards-card-text:before {
                border-bottom:10px solid #362F2D;
            }
            &-card:hover .content-project-cards-card-svg {
                display: block;
            }
            &-card:hover .content-project-cards-card-svgsearch {
                display: block;
            }
            &-card:hover .content-project-cards-card-svg:hover {
                fill:#C7B299;
            }
            &-card:hover .content-project-cards-card-svgsearch:hover {
                fill:#C7B299;
            }
            &-card:active .content-project-cards-card-text {
                background-color:#FBFAF8;
            }
            &-card:active .content-project-cards-card-text-title {
                color:#C7B299;
            }
            &-card:active .content-project-cards-card-text-p {
                color: #D1D1D1;
            }
            &-card:active .content-project-cards-card-text:before {
                border-bottom:10px solid #FBFAF8;
            }
            &-card:active .content-project-cards-card-svg:hover {
                fill:#ffffff;
            }
            &-card:active .content-project-cards-card-svgsearch:hover {
                fill:#ffffff;
            }
        }
        &-button {
            .button();
            width: 170px;
            margin: 0 auto;
        }
        &-button:hover {
            .buttonhover();
        }
        &-button:active {
            .buttonactive();
        }
    }
    &-video {
        position:relative;
        display: flex;
        &-file {
            width: 100%;
            object-fit: cover;
            filter: brightness(50%);
        }
        &-text {
            position: absolute;
            top:210px;
            left:35.2%;;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 570px;
            &-button {
                display: flex;
                fill: #ffffff;
                background-color: transparent;
                border:none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.2);
                padding: 15px;
                border-radius: 50%;
                margin: 0 0 38px 0;
            }
            &-button:hover {
                fill: #C7B299;
                cursor: pointer;
            }
            &-button:active {
                fill: #ffffff;
            }
            &-title {
                font-family: ralewaymedium;
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 20px 0;
            }
            &-txt {
                font-family: montserratlight;
                font-size: 16px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 36px 0;
                line-height: 24px;
            }
            &-time {
                font-family: montserratregular;
                font-size: 14px;
                color: #C7B299;
            }
        }
    }
    &-mobile {
        display: flex;
        min-height: 695px;
        background: url('../img/hand.png') 28.2% bottom no-repeat;
        background-color: #FBFAF8;
        box-sizing: border-box;
        padding: 189px 0 0 45.6%;
        &-text {
            width: 672px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            &-title {
                font-family: ralewaysemibold;
                font-size: 30px;
                color: #555555;
                margin: 0 0 30px 0;
            }
            &-txt {
                font-family: montserratlight;
                font-size: 16px;
                color: #8C8C8C;
                margin: 0 0 32px 0;
                line-height: 27px;
            }
            &-list {
                padding: 0 0 0 100px;
                margin: 0;      
                &-item {
                    font-family: montserratlight;
                    font-size: 16px;
                    list-style: none;
                    line-height: 32px;
                    color:#8C8C8C;
                    position: relative;
                }
                &-item:before {
                    content: "";
                    display: block;
                    width: 21px;
                    height: 21px;
                    background-image: url('../img/marker.png');
                    background-size: cover;
                    position: absolute;
                    top: 4px;
                    left: -50px;
                }
            }
        }
    }
    &-numbers {
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
        box-sizing: border-box;
        padding: 70px 25% 60px 25%;
        flex-wrap: wrap;
        &-item {
            display: flex;
            box-sizing: border-box;
            fill: #C7B299;
            flex-direction: column;
            align-items: center;
            width: 170px;
            &-title {
                font-family: montserratextralight;
                font-size: 48px;
                color: #FFFFFF;
                margin: 20px 0 5px 0;
            }
            &-text {
                font-family: montserratlight;
                font-size: 14px;
                color: #C7B299;
                text-transform: uppercase;
                margin: 0;
            }
        }
        &-item:after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #FFFFFF;
            margin: 28px 0 0 0;
        }
    }
}