.position() {
    padding: 40px 0;
    box-sizing: border-box;
}

.raleway(@fz, @fw) {
    font-family: Raleway;
    font-size: @fz;
    line-height: 1.2;
    font-weight: @fw;
    color: #ffffff;
}

.montserrat(@fz, @fw) {
    font-family: Montserrat;
    font-size: @fz;
    line-height: 1.2;
    font-weight: @fw;
    color: #ffffff;   
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/Photo.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .position();
    &-logo {
        fill: white;
        margin: 0 217px 0 0;
        display: flex;
        text-decoration: none;
        &-txt {
            .raleway(34px, 400);
            letter-spacing: -0.04em;
            margin: auto;
            }
        }
    &-logo:hover {
        fill:#C7B299;
        .header-logo-txt {
            color:#C7B299;
        }
    }
    &-menu {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        &-item {
            text-decoration: none;
            .montserrat(14px, 300);
            margin: 16px 30px 16px 0;
            }
        &-item:hover {
            color: #C7B299;
            cursor: pointer;
            }
        &-item:active {
            color: #ffffff;
            }
    }
    &-search  {
        display: flex;
        align-items: top;
        margin: 16px 0 0 30px;
        fill: #ffffff;
        &-button {
            width: 0px;
            height: 24px;
            padding: 0;
            border: 0px;
            margin: 0 3px 0 0;
        }
    }
    &-search:hover .header-search-button{
        width: 200px;
        transition: width 1s ease-out;
    }
    &-search-button:focus {
        width: 200px;
    }
    &-card {
        margin: 16px 0 0 30px;
        fill: #ffffff;
        border: 0px;
        height: 24px;
        width: 18px;
        box-sizing: border-box;
    }
    &-card:hover,
    &-search:hover {
        cursor: pointer;
        fill: #C7B299;
    }
    &-card:active,
    &-search:active {
        cursor: pointer;
        fill: #ffffff;
    }
    
    &-content {
        display: flex;
        width: 100%;
        padding: 0 150px;
        justify-content: space-between;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin: 285px 0 0 0;
        &-left,
        &-right {
           fill: #ffffff;
           margin: 100px 0 0 0;
        }
        &-left:hover,
        &-right:hover {
            cursor: pointer;
            fill: #C7B299;
        }
        &-left:active,
        &-right:active {
           fill: #ffffff;
        }
        &-main {
            max-width: 600px;
            margin: 0 0 323px 0;
            display: flex;
            flex-direction: column;
            &-titletop {
                .raleway(36px, 500);
                text-align: center;
                margin: 0 0 4px 0;
            }
            &-titlebold {
                .raleway(52px, 800);
                margin: 0 0 10px 0;
            }
            &-text {
                .montserrat(16px, 300);
                text-align: center;
                margin: 0 0 48px 0;
            }
            &-button {
                display: block;
                .raleway (14px, 800);
                line-height: 23px;
                text-transform: uppercase;
                min-width: 170px;
                background-color: #998675;
                padding: 15px 39px;
                border: 0px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin: 0 auto;
                border-bottom: 3px solid #998675;
                border-radius: 3px;
            }
            &-button:hover {
                cursor: pointer;
                background-color: #fff;
                color: #998675;
            }
            &-button:active {
                background-color: #998675;
                color: #ffffff;
            }
        }
        &-radio {
            width: 100%;
            display: flex;
            justify-content: center;
            &-label {
                position: relative;
                padding: 0 20px 0 0;
            }
            &-label:before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            &-item {
                display: none;
            }
            &-item:checked + &-label:before {
                background-color: black;
                box-shadow: 0 0 0 2.5px #D3C1AD;
            }
            &-label:hover {
                cursor: pointer;
            }
        }
    }
}
