.position(@padding) {
    padding: @padding 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.eot');
    src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff'),
         url('../fonts/raleway-extrabold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.button() {
    display: block;
    font-family: ralewayextrabold, sans-serif;
    line-height: 23px;
    text-transform: uppercase;
    min-width: 170px;
    background-color: #998675;
    padding: 15px 39px;
    border: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 3px solid #998675;
    border-radius: 3px;
    color: #ffffff;
}

.buttonhover() {
    cursor: pointer;
    background-color: #fff;
    color: #998675;
}
.buttonactive() {
    background-color: #998675;
    color: #ffffff;
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/Photo.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .position(40px);
    &-logo {
        fill: white;
        margin: 0 217px 0 0;
        display: flex;
        text-decoration: none;
        &-txt {
            font-family: ralewayregular, sans-serif;
            font-size: 34px;
            color: #ffffff;
            letter-spacing: -0.04em;
            margin: auto;
            }
        }
    &-logo:hover {
        fill:#C7B299;
        .header-logo-txt {
            color:#C7B299;
        }
    }
    &-menu {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        &-item {
            text-decoration: none;
            font-family: montserratlight, sans-serif;
            font-size: 14px;
            color: #ffffff;
            margin: 16px 30px 16px 0;
            }
        &-item:hover {
            color: #C7B299;
            cursor: pointer;
            }
        &-item:active {
            color: #ffffff;
            }
    }
    &-search  {
        display: flex;
        align-items: top;
        margin: 16px 0 0 30px;
        fill: #ffffff;
        &-button {
            width: 0px;
            height: 24px;
            padding: 0;
            border: 0px;
            margin: 0 3px 0 0;
        }
    }
    &-search:hover .header-search-button{
        width: 200px;
        transition: width 1s ease-out;
    }
    &-search-button:focus {
        width: 200px;
    }
    &-card {
        margin: 16px 0 0 30px;
        fill: #ffffff;
        border: 0px;
        height: 24px;
        width: 18px;
        box-sizing: border-box;
    }
    &-card:hover,
    &-search:hover {
        cursor: pointer;
        fill: #C7B299;
    }
    &-card:active,
    &-search:active {
        cursor: pointer;
        fill: #ffffff;
    }
    
    &-content {
        display: flex;
        width: 100%;
        padding: 0 150px;
        justify-content: space-between;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin: 285px 0 0 0;
        &-left,
        &-right {
           fill: #ffffff;
           margin: 100px 0 0 0;
        }
        &-left:hover,
        &-right:hover {
            cursor: pointer;
            fill: #C7B299;
        }
        &-left:active,
        &-right:active {
           fill: #ffffff;
        }
        &-main {
            max-width: 600px;
            margin: 0 0 323px 0;
            display: flex;
            flex-direction: column;
            &-titletop {
                font-family: ralewaymedium, sans-serif;
                font-size: 36px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 4px 0;
            }
            &-titlebold {
                font-family: ralewayextrabold, sans-serif;
                font-size: 52px;
                color: #ffffff;
                margin: 0 0 10px 0;
            }
            &-text {
                font-family: montserratlight, sans-serif;
                font-size: 16px;
                color: #ffffff;
                text-align: center;
                margin: 0 0 48px 0;
            }
            &-button {
                .button();
                margin: 0 auto;
            }
            &-button:hover {
                .buttonhover();
            }
            &-button:active {
                .buttonactive();
            }
        }
        &-radio {
            width: 100%;
            display: flex;
            justify-content: center;
            &-label {
                position: relative;
                padding: 0 20px 0 0;
            }
            &-label:before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            &-item {
                display: none;
            }
            &-item:checked + &-label:before {
                background-color: black;
                box-shadow: 0 0 0 2.5px #D3C1AD;
            }
            &-label:hover {
                cursor: pointer;
            }
        }
    }
}

.content {
    padding: 0px;
    &-top {
        display: flex;
        justify-content: center;
        padding: 80px 0;
        flex-wrap: wrap;
        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 270px;
            padding: 0;
            box-sizing: border-box;
            margin: 0 15px;
            &-icon {
                display: block;
                fill: #555555;
                margin: 0 0 24px 0;
            }
            &-title {
                width: 100%;
                margin: 0 0 16px 0;
                text-align: center;
                color:#555555;
            }
            &-txt {
                text-align: center;
            }
        }
        &-card:after {
            content: "";
            display: block;
            width: 150px;
            height: 3px;
            background-color: #F1EEE9;
        }
        &-card:hover .content-top-card-icon {
            fill:#C7B299;
        }
        &-card:hover .content-top-card-title {
            color:#C7B299;
        }
        &-card:hover:after {
            background-color:#C7B299;
        }
    }
    &-ideas {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 77px 0 0 0;
        flex-wrap: wrap;
        background-color: #FBFAF8;
        &-title {
            max-width: 500px;
            margin: 0 0 20px 0;
            text-align: center;
        }
        &-txt {
            max-width: 770px;
            margin: 0 0 40px 0;
            text-align: center;
        }
        &-img {
            width: 1230px;
            min-height: 482px;
            background-image: url(../img/browser-center.png),
            url(../img/browser-left.png),
            url(../img/browser-right.png);
            background-size: 62.5%, 62.5%, 62.5%;
            background-repeat: no-repeat;
            background-position: bottom center, bottom left, bottom right;
        }
    }
    &-ad {
        display: flex;
        justify-content: space-between;
        padding: 40px 375px;
        background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
        &-txt {
            display: flex;
            flex-direction: column;
            &-title {
                &-word {
                    display: inline;
                }
            }
        }
        &-button {
            .button();
            margin: 7px 0;
        }
        &-button:hover {
            .buttonhover();
        }
        &-button:active {
            .buttonactive();
        }
    }
}